<%- include('../includes/head.ejs') %>
        <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <% if(cart.length > 0){ %> 
            <ul class="cart__item-list">
                
                <% for (let product of cart){ %>
                    <li class="cart__item">

                        <h1><%= product.title %> </h1>
                                                <h2>Quantity: <%= product.cartItem.quantity %> </h2>

                        <form action='/cart-delete-item' method="POST">
                            <input type='hidden' name='productId' value=<%= product.id %> >
                            <input type='hidden' name='productPrice' value=<%= product.price %> >
                                            <button type='submit' class="btn danger">Remove Item</button>
                        </form>
                    </li>
                <% } %> 
            </ul>
            <form action='/clear-cart' method="POST" class="clear-cart" >
                <button type='submit' class="btn danger">Clear Cart</button>
            </form>
                        <form action='/admin/orderDetails' class="clear-cart">
                            <button type='submit' class=" btn">Checkout</button>
                        </form>
        <% }else{ %> 
            <h1>No Product in Cart</h1>
        <% } %> 
        <%- include('../includes/end.ejs') %>